@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
